# Python
__pycache__/
*.py[cod]

# Jupyter
.ipynb_checkpoints/

# R
.RData
.Rhistory
.Rproj.user/

# Local environments
.conda/
.env
.venv/

# Editors and operating systems
*~
.DS_Store
.vscode/

# Downloaded and generated data
data/raw/
data/processed/
